body {
    background: #cfd8dc;
}

.container {
	margin-top: 20px;
}

.nav {
	background-color: white;
	border-radius: 20px;
	margin-top: 15px;
}

input {
	width: 40%;
    padding: 5px;
    border: 2px solid #bce8f1;
}

a:hover {
	border-radius: 20px;
}

input [type=submit] {
	margin: 0 auto;
}

::placeholder {
    color: grey;
    opacity: 1;
}