@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700,300italic);
*, *:before, *:after { 
  box-sizing: border-box; 
}

html { 
  font-size: 100%;  
}

body {
    background: #cfd8dc;
    margin: 0;
    font-family: Verdana, Calibri, sans-serif;
    padding: 0;
}

/* CSS DE LA NAV BAR */

.pp {
  border-radius: 30px;
}

nav > ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  list-style-type: none;
}

nav > ul > li {
  float: left;
}

.submenu {
  display: none;
}

nav input[type=checkbox] {
  display: none;
}

.menu-mobile {
  display: none;
}

nav {
  width: 100%;
  background-color: #424558;
}

nav > ul > li {
  float: left;
  position: relative;
}

nav > ul::after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  display: inline-block;
  text-decoration: none;
}

nav > ul > li > a {
  padding: 20px 30px;
}

nav li:hover .submenu {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
}

.submenu li {
  border-bottom: 1px solid #CCC;
}

.submenu li a {
  padding: 15px 30px;
  font-size: 13px;
  color: black;
  width: 270px;
  background-color: #424558;
}

.menu-tl:hover {
  border-top: 5px solid #e44d26;
  background-color: RGBa(228, 77, 38, 0.15);
}

.menu-search:hover {
  border-top: 5px solid #0070bb;
  background-color: RGBa(000, 112, 192, 0.15);
}

.menu-dm:hover {
  border-top: 5px solid #f1dc4f;
  background-color: RGBa(241, 211, 79, 0.15);
}

.menu-profil:hover {
  border-top: 5px solid #BBB;
  background-color: RGBa(220, 220, 220, 0.15);
}

nav > ul > li:hover a {
  padding: 15px 30px 20px 30px;
}

.submenu li:hover a {
  color: #EEE;
  font-weight: bold;
  background-color: grey;
}

nav input[type=checkbox]:checked ~ ul {
  display: block;
}

.card
{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 2.77rem;
  width: 64%;
  min-height: 1px;
  flex: 0 0 50%;
    max-width: 50%;
    margin-top: 3%;
    margin-left: 23%;
}

.card-header
{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    height: 76px;
}

.card-header:first-child
{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.btn
{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.rounded-circle
{
    border-radius: 50% !important;
    vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
}

.m-0
{
    margin: 0 !important;
    font-size: 1.25rem;
    font-family: inherit;
  font-weight: 500;
  line-height: 1.2;box-sizing: border-box;
  color: inherit;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  left: 6%;
  bottom: 57px;
}

.text-muted
{
    color: #777;
    position: relative;
    bottom: 79px;
    left: 53px;
}

.ml-2
{
  height: 26px;
}

.btn-link:hover
{
    color: #0056b3;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.card-body
{
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-footer
{
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

.card-text
{
  margin: 0 0 10px;
  font-size: 18px;
}

.comment
{
  height: 14px;
  padding-left: 7px;
  position: relative;
  top: 3px;
}

.like
{
  height: 15px;
  position: relative;
  top: 3px;
}

.retweet
{
  padding-left: 7px;
  position: relative;
  height: 16px;
  top: 3px;
}

.card-footer a
{
  text-decoration: none;
  color: #1781a0;
}


@media screen and (max-width: 680px){
  .menu-mobile {
    display: block;
    color: #fff;
    background-color: rgba(29, 197, 151, 0.97);
    text-align: center;
    padding: 12px 0;
  }

  nav ul {
    display: none;
  }

  nav ul li, nav ul li a {
    width: 100%;
    text-align: center;
  }

  nav ul li a, nav ul li:hover a {
    padding: 10px 0px 10px 0px;
  }

  nav li:hover .submenu {
    display: block;
    position: static;
  }

    .card
  {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 2.77rem;
    width: 64%;
    min-height: 1px;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 3%;
    margin-left: 23%;
  }

  .card-header
  {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    height: 76px;
  }

  .card-header:first-child
  {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  }

  .btn
  {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .rounded-circle
  {
      border-radius: 50% !important;
      vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
  }

  .m-0
  {
      margin: 0 !important;
      font-size: 1.25rem;
      font-family: inherit;
    font-weight: 500;
    line-height: 1.2;box-sizing: border-box;
    color: inherit;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    left: 6%;
    bottom: 57px;
  }

  .text-muted
  {
      color: #777;
      position: relative;
      bottom: 79px;
      left: 53px;
  }

  .ml-2
  {
    height: 26px;
  }

  .btn-link:hover
  {
      color: #0056b3;
      text-decoration: underline;
      background-color: transparent;
      border-color: transparent;
  }

  .card-body
  {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.25rem;
  }

  .card-footer
  {
      padding: .75rem 1.25rem;
      background-color: rgba(0,0,0,.03);
      border-top: 1px solid rgba(0,0,0,.125);
  }

  .card-text
  {
    margin: 0 0 10px;
    font-size: 18px;
}

.comment
{
  height: 14px;
  padding-left: 7px;
  position: relative;
  top: 3px;
}

.like
{
  height: 15px;
  position: relative;
  top: 3px;
}

.retweet
{
  padding-left: 7px;
  position: relative;
  height: 16px;
  top: 3px;
}

.card-footer a
{
  text-decoration: none;
  color: #1781a0;
}

}

/* CSS POUR LA ZONE DE TWEET */

.wrapper {
  max-width: 35%;
  margin: auto;
}


h1 { 
  background-color: #424558;
  border-radius: 10px;
  color: black; 
  margin: 3rem 0 1rem 0; 
  padding: 5px 7px;
  font-size: 1.5rem;
  text-align: center;
}

textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #666;
  box-shadow: inset 0 0 0.25rem #ddd;
  &:focus {
    outline: none;
    border: 1px solid darken(#ddd, 5%);
    box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
  }
  &[placeholder] { 
    font-style: italic;
    font-size: 0.875rem;
  }
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
}

input {
  border: none;
  border-radius: 10px;
  padding: 5px 7px;
  background-color: #424558;
  color: black;
  margin-top: 5px;
}